 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Vanu Rao is a senior at Newport High School in Bellevue, WA with a passion for design and engineering. He has CAD experience using Autodesk Fusion 360, Onshape, Blender, and Autodesk Inventor as well as Inkscape for 2D.</p>
                </div>
                <div class="col-lg-4">
                    <p>Aside from projects, he also is head of CAD for the school FIRST Robotics Competition team and 3D Printing Technician for the school rocketry club competing in the American Rocketry Challenge.</p>
                </div>
            </div>
        </div>
    </section>
